@import url(https://fonts.googleapis.com/css?family=Lily+Script+One);

.App {
    height: 100%;
}

.background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../img/background.jpg);
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(6px);
}

.background-content {
    position: absolute;
    top: 0%;
    width: 100%;
}