/*
 * Item css File
*/

.Item {
    /* propertys here */
}

.item{
    display: blog;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    margin: 0 5px;
}

.avatar-item {
    height: 70%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.infor-item{
    height: 30%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}