/*
 * Caculate css File
*/

.Calculate {
    position: absolute;
    right: 0;
    height: 25%;
    width: 20%;
    margin-top: 25px;
    background-color: #f0eeef;
    height: 220px;
    border-radius: 0.5rem;

}

.calculated-money {
    border-radius: 5px;
    height: 70%;
    background-color: #f0eeef;
    color: black;
    margin-right:4px;
}

.order {
    padding: 2.5% 0 2.5% 0;
    height: 23%;
}

.btn-order {
    height:100%;
    width: 80%;
    border: 0;
    margin-left:19%;
    background-color: brown;
    color: aliceblue;
    font-size: medium;
}
.btn-order:hover{
    background-color:red;
}

.prices-items{
    height: 30%;
    width: 100%;
    text-align: right;

}
.qua{
    padding-top:10px;
    height: 30%;
    width: 100%;
    text-align:right;

}

.prices-total{
    height: 30%;
    width: 100%;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}